<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8"/>
    <title>Pokedex</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/view/css/main.css" />
    <link rel="shortcut icon" href="/view/images/bellsprouticon.png"/>
</head>

<body>
    
    <div class="header">
        <h1>Pokedex</h1> 
    </div>

    <div class="pokemon-details" id="pokemon-details"></div>
    <div class="pokedex-container" id="pokedex-container">
        <div class="pokedex-toolbar">
            <input class="search" id="search"  type="text"  onkeyup="pokedexSearch()" placeholder="Search...">
            <!-- <button class="filter">Type</button> -->
        </div>
        
        <div class="pokedex-grid" id="pokedex-grid"></div>
    </div>

    <div class="footer">
        <h1>About</h1> 
    </div>

    <script src="/view/js/pokedex.js"></script>

</body>

</html>